.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 2px solid lightgray; */
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.link a {
  color: black;
  text-decoration: none;
  padding: 8px 16px;
  transition: all 0.3s ease;
  display: inline-block;
  width: 100px;
  text-align: center;
}

.link a:hover {
  font-weight: bold;
  background-color: #f0f0f0;
}

.link-container {
  display: flex;
  align-items: center;
}

.link {
  font-size: 23px;
  display: flex;
  align-items: center;
}

.dark-mode {
  margin-left: 900px;
}

/* Responsive styling */
@media screen and (max-width: 1030px) {
  .dark-mode {
    margin-left: 600px;
  }
}

@media screen and (max-width: 890px) {
  .dark-mode {
    margin-left: 380px;
  }
}

@media screen and (max-width: 667px) {
  .dark-mode {
    margin-left: 100px;
  }
}
